@import url('https://fonts.googleapis.com/css2?family=Teko:wght@700&display=swap');

.card{
    width: 200px;
    height:300px;
}
.card:hover{
    box-shadow: 1px 2px 3px 2px;
    transform:skewY(5deg)
}
.row{
    justify-content: space-evenly;
}
h1{
    text-align: center;
}

.card{
    background-color: transparent;
}
#femme{
    background-color: pink;
    color: white;
}
#femme:hover{
    box-shadow: 1px 2px 3px 2px black;
}
.home{
    background-image: url(https://i.postimg.cc/26DV24m6/julius-drost-uumkda-VS8r-M-unsplash.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    color: white;
}
#nav{
    color: white;
}
#home{
    text-align: left;
    font-family: 'Teko', sans-serif;
    margin: auto;
    margin-left: 12px;
}
h5{
    text-align: right;
}

h6{
    margin-left: 12px;
    font-family: 'Rajdhani', sans-serif;
}
body{
    font-family: 'Rajdhani', sans-serif;
}
.blue{
    text-decoration: none;
    ;
}
.about{
    font-size: smaller;
    text-align: center;
}
.center{
    text-align: center;
    font-weight: bolder;
}
.box{
    box-shadow: 1px 2px 1px 2px silver;
}
.boxy{
    box-shadow: 1px 2px 1px 2px pink;
}